.user-management {
    padding: 10px;
  }
  
  .user-form {
    margin-bottom: 15px;
  }
  
  .add-user-button {
    margin-top: 20px;
  }
  
  .user-list ion-item {
    --inner-padding-start: 30px;
  }
  
  .user-list ion-label {
    padding-left: 10px;
  }
  
  .user-list ion-item-options {
    --ion-item-option-background: rgb(230, 230, 230);
  }
  
  .user-list ion-item-options ion-item-option {
    font-size: 20px;
  }
  